	<div class="slider">
    <app-navbar class="navbar"></app-navbar>
		<div class="slider-inner">
			<div class="slider-item">
				<img class="d-block w-100" src="https://i.postimg.cc/Jn0X0pDS/1.jpg">
				<div class="carousel-caption">
					<h5>MEDI_HUB</h5>
					<p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ab!</p>
					<p id="button"><a href="#">Find Hospital</a></p>
				</div>
			</div>
		</div>
	</div>
<app-vaccinecard></app-vaccinecard>

<div class="guide">
	<app-covidcard></app-covidcard>
	<app-covidcard></app-covidcard>
	<app-covidcard></app-covidcard>
	<app-covidcard></app-covidcard>
</div>

<div class="whyus">
	<app-whyuscard></app-whyuscard>
</div>

<div class="counter">
	<app-coutercard></app-coutercard>
</div>

<div class="service">
	<div class="title">
	<h6>What we provide</h6>
	<h1>Our Services</h1></div>
	<div class="cards">
	<app-servicecard></app-servicecard>
	<app-servicecard></app-servicecard>
	<app-servicecard></app-servicecard>
	<app-servicecard></app-servicecard>
	<app-servicecard></app-servicecard>
	<app-servicecard></app-servicecard>
	</div>
</div>

<div class="service">
	<div class="title">
	<h6>Custormer Testimonials</h6>
	<h1>What OUR Clients Say</h1></div>
	<div class="cards">
		<app-commentcard></app-commentcard>
		<app-commentcard></app-commentcard>
		<app-commentcard></app-commentcard>
	</div>
</div>

  <app-footer class="footer"></app-footer>