


  <div class="App">
        <div class="slider">
        <app-navbar class="navbar"></app-navbar>
            
                <div class="slider-item">
                  <img src="https://i.postimg.cc/Jn0X0pDS/1.jpg">
                    <div class="carousel-caption">
                        <h5>DIEASES</h5>
                        <p>Dieases portal where you can check the symptoms and causes</p>
                    </div>
                </div>
        </div>
       <input id="searchbar" placeholder="search here" type="text"/>&nbsp;
       <button class="sbtn" type="submit">Search</button>
        <div class="Ucard">
        <div id="filter">
          <h2>Filter Here</h2>&nbsp;
          <label id="fil">Filter By:</label>
          <input id="rad" type="radio">&nbsp;<label>Bacteria</label>
          <input id="rad"type="radio">&nbsp;<label>Fungi</label>
          <input id="rad" type="radio">&nbsp;<label>Virus</label>
          

        
        </div>
        <hr>
        <br>
        <div class="result-sec">
          <br>
          <app-card1 style="pointer-events: none;"></app-card1>
          <app-card2 style="pointer-events: none;"></app-card2>
            <app-card3></app-card3>
            <app-card4></app-card4>
            
            
          
       
        </div>
        <br>
        <a ><button  class="prev">prev</button></a>
        &nbsp;
        <a ><button class="next" (click)="increment()">Next</button></a>
        </div>
        </div>
